.app-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #007bff;
}

.account-info {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.1em;
}

.action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.input-field {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

.action-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #0056b3;
}

.action-button:disabled {
  background-color: #cccccc;
}

.redemption-code-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redemption-code-item {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.code-info {
  margin-bottom: 10px;
  font-size: 1.1em;
}

.redemption-code-item button {
  background-color: #28a745;
  margin-top: 10px;
}

.redemption-code-item button:hover {
  background-color: #218838;
}
